body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-size: large;
}



a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gugi', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #F05F40 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Gugi', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F05F40;
  font-family: 'Permanent Marker',cursive, Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: rgb(236, 201, 84);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: rgb(236, 201, 84) !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgb(255, 255, 255);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: white;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgb(255, 255, 255);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgb(236, 201, 84);
  }
  #mainNav.navbar-shrink {
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: rgb(65, 55, 121);
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color:rgb(236, 201, 84);
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color:  rgb(65, 55, 121);
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgb(236, 201, 84);
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header div img{
  margin: 0, auto;
  max-width: 200px;
  border-radius: 50%;
  height: auto;
  margin-top: -50px;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 51, 0.8);
}
hr{

  background-color: black;
  width: auto;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 51, 0.8);

}
header h2{
  font-family: 'Permanent Marker', Arial, sans-serif;
}


div.prog{
  margin: 5px;

}

.progress{
  height: 1.5rem;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}



.text-primary {
  color: #F05F40 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.card{
 padding: 0;
}

.card .card-text{
 font-size: small;
}
.card-title{
  font-size: 15px;
}

.card a{
  font-size : 11px;
  color: #F05F40;
}

#contact{
  margin-top: 100px;
}



.techno-logo-container > img{
  width: 200px;
}



.progress {
  width: 80px;
  height: 80px !important;
  float: left; 
  line-height: 100px;
  background: none;
  margin: 20px;
  box-shadow: none;
  position: relative;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #212529;
  font-size: 12px;
  font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  line-height: 80px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}
.progress.html .progress-bar {
  border-color: #e34c26;
}
.progress.html .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.css .progress-bar {
  border-color: #264de4;
}
.progress.css .progress-left .progress-bar {
  animation: loading-8 1.5s linear forwards 1.8s;
}
.progress.angular .progress-bar {
  border-color: #a6120d;
}
.progress.angular .progress-left .progress-bar {
  animation: loading-6 1.7s linear forwards 1.8s;
}
.progress.node .progress-bar {
  border-color: #68a063;
}
.progress.node .progress-left .progress-bar {
  animation: loading-6 1.7s linear forwards 1.8s;
}
.progress.react .progress-bar {
  border-color: #61DBFB;
}
.progress.react .progress-left .progress-bar {
  animation: loading-7 1.7s linear forwards 1.8s;
}
.progress.ionic .progress-bar {
  border-color: #498AFF;
}
.progress.ionic .progress-left .progress-bar {
  animation: loading-4 1.7s linear forwards 1.8s;
}
.progress.sql .progress-bar {
  border-color: #F29111;
}
.progress.sql .progress-left .progress-bar {
  animation: loading-6 1.7s linear forwards 1.8s;
}
.progress.php .progress-bar {
  border-color: #474A8A;
}
.progress.php .progress-left .progress-bar {
  animation: loading-8 1.7s linear forwards 1.8s;
}
.progress.symfony .progress-bar {
  border-color: black;
}
.progress.symfony .progress-left .progress-bar {
  animation: loading-8 1.7s linear forwards 1.8s;
}
.progress.git .progress-bar {
  border-color: #F1502F;
}
.progress.git .progress-left .progress-bar {
  animation: loading-4 1.7s linear forwards 1.8s;
}
.progress.js .progress-bar {
  border-color: #f0db4f;
}
.progress.js .progress-left .progress-bar {
  animation: loading-6 1.7s linear forwards 1.8s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(164deg);
    transform: rotate(164deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}

@keyframes loading-6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
  }
}

@keyframes loading-7 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

@keyframes loading-8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}


